/*Sfondo*/
body{
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*Logo*/
img{
  width: 22%;
  padding-top: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Titolo*/
header{
  color: rgba(17,208,17,255);
  text-align: center;
  line-height: 0.2;
}

/*Bottoni*/
.buttons{
  background-color: rgba(0,221,0,255);
  width: 80%;
  padding: 10px;
  text-align: center;
}

/*Riquadro, font e colore font*/
div{
  background: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  color: white;
  font-family: sans-serif;
}

/*Monopattini*/
.sections{
margin-left: 9.5%;
padding-top: 10px;
line-height: 0.5;
}

/*Barre carica*/
#barra1{
  background-color: rgba(245,180,83,255);
  margin-left: 9.5%;
  padding-top: 30px;
  max-width: 28%;
  border-radius: 5px;
}

#barra2{
  background-color: rgba(30,195,30,255);
  margin-left: 9.5%;
  padding-top: 30px;
  max-width: 48%;
  border-radius: 5px;
}

#barra3{
  background-color: rgba(190,65,65,255);
  margin-left: 9.5%;
  padding-top: 30px;
  max-width: 11%;
  border-radius: 5px;
}
